html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    margin: 0;
}


/* Стили для хэдэра */

.header {
    max-width: 100%;
    height: 102px;
    padding: 0 58px 0 42px;
    margin-bottom: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.header__logo {
    margin-right: 36px;
}

.header__models {
    display: flex;
    padding-top: 5px;
}

.header__menu {
    display: flex;
}

.header__item {
    display: block;
}

.header__item.one {
    margin-right: 30px;
}

.header__item.two {
    margin-right: 30px;
}

.header__model {
    display: block;
    height: 26px;
    max-width: 100%;
}

.header__model.one {
    margin-right: 63.14px;
    color: #E51937;
    background: url('./pic/line.png') no-repeat;
    background-position: bottom;

}

.header__model.two {
    margin-right: 24.86px;
}

.header__model.three {
    margin-right: 44px;
}

.header__model.four {
    margin-right: 46px;
}


@media (max-width:1439px) {
    .header__models {
        display: none;
    }

    .header__item {
        display: none;
    }

    .header {
        padding: 0 16px 0 15px;
        margin-bottom: 53px;
    }

    .menu-burger__pic {
        width: 35.23px;
        height: 22.02px;
    }
}


/* Стили для первой секции top */

.top__title {
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;
    text-align: center;
}

.top__slogan {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    position: relative;
    bottom: 24px;
    margin: 0;
    padding-top: 15px;
}

.picture {
    padding-right: 74px;
    margin-bottom: 35px;
    background-image: url('./pic/watermark.png');
    background-repeat: no-repeat;
    background-position: 50% 840%;
    /* background-size: 100% auto; */
    max-width: 100%;
    max-height: 100%;
}

.picture__tesla {
    display: block;
    margin: auto;
    max-width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
    margin-bottom: 23px;
}

.row__about {
    display: flex;
    justify-content: center;
    margin-right: 99px;
}

.info {
    display: flex;
    align-items: center;
}

.info__text-wrap {
    /* padding-bottom: 3px; */
    position: relative;
    left: 15px;
    bottom: 8px;
}

.info__text-wrap_second {
    /* padding-bottom: 3px; */
    position: relative;
    right: 15px;
}


.info.one {
    margin-right: 72px;

}

.info.two {
    padding-left: 3px;
    margin-right: 6px;
    position: relative;
    left: 16px;
    bottom: 11px;
}

/* .info__picture {
    width: 50px;
    height: 50px;

} */

.info__picture.time {
    width: 46px;
    height: 34.13px;
    padding-right: 4px;
    padding-top: 15px;
    background: url('./pic/time.png') no-repeat;
} 

.info__picture.path {
    background: url('./pic/path.png') no-repeat;
    width: 26.4px;
    height: 62.37px;
    padding-right: 39px;
    position: relative;
    top: 10px;
}

.info__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.info__title span {
    font-size: 35px;
    line-height: 43px;
}

.info__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.marketing {
    display: flex;
    padding-bottom: 12px;;
}

.test-drive {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.test-drive__icon {
    background: url('./pic/steering-wheel.png');
    margin-right: 7px;
    display: block;
    width: 22px;
    height: 22px;
}

.test-drive__text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}

.order-button {
    width: 160px;
    height: 40px;
    background: #fff;
    border: 2px solid #E51937;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #E51937;
}

.arrow__icon {
    display: block;
    margin: auto;
}

.arrow {
    /* position: relative;
    bottom: 93px;
    left: 48.8%; */
    
}

@media (max-width:1439px) {
    .top {
        padding-left: 16px;
    }
    
    .picture__tesla {
        max-width: 700px;
        display: block;
    }

    .top__header {
        margin-bottom: 31px;
    }

    .picture {
        padding-left: 18px;
        margin-bottom: 15px;
        padding-bottom: 0px;
        max-width: 100%;
        height: 393px;
        background-image: url('./pic/watermark_middle.png');
        background-repeat: no-repeat;
        background-position: 50% 0%;
        display: flex;
        align-items: flex-end;
    }

    .row {
        flex-direction: column;
        padding-left: 27px;
        margin-bottom: 48px;
    }

    .info__picture.time {
        width: 77px;
    }

    .info__picture.path {
        width: 43.71px;
        height: 71.66px;
        background: url('./pic/road.png') no-repeat;
        position: relative;
        right: 7px;
        top: 9px;
    }

    .info__picture.time {
        width: 65.92px;
        height: 48.91px;
        padding-right: 4px;
        padding-top: 15px;
        background: url('./pic/speed.png') no-repeat;
    } 
    
    .info__title span {
        font-size: 50px;
        line-height: 61px;
        position: relative;
        top: 7px;
    }

    .info__title {
        position: relative;
        bottom: 7px;
    }

    .info__text-wrap {
        position: relative;
        left: 18px;   
    }

    .info__text-wrap_second{
        right: 29px;   
    }

    /* .info.two {
        padding-left: 3px;
        margin-right: 6px;
        position: relative;
        left: 70px;
        bottom: 11px;
    } */

    .row__about {
        margin-right: 20px;
        margin-bottom: 51px;
    }

    .info.one {
        margin-right: 92px;
    }

    .test-drive {
        margin-right: 64px;
    }

    .test-drive__text {
        font-size: 16px;
        line-height: 20px;
        color: #E51937;
        padding-top: 4px;
    }

    .test-drive__icon {
        width: 32px;
        height: 32px;
        background: url('./pic/wheel_red.png');
        color: #E51937;
        margin-right: 15px;
    }

    .order-button {
        width: 220px;
        height: 55px;
        background: #E51937;
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        position: relative;
        right: 23px;
    }
}

@media (max-width:767px) {
    .header__models {
        display: none;
    }

    .header__item {
        display: none;
    }

    
    .header__picture {
        width: 138px;
        height: 42px;
    }

    .menu-burger {
        width: 24px;
        height: 15px;
    }

    .menu-burger__pic {
        width: 24px;
        height: 15px;
    }

    .header {
        height: 51px;
        padding: 0 21px 0 2px;
    }

    .top__title {
        font-size: 50px;
        line-height: 61px;
    }

    .header {
        margin-bottom: 25px;
    }

    .top {
        padding-left: 0;
    }

    .top__header {
        margin-bottom: 0;
    }

    .top__slogan {
        font-size: 10px;
        line-height: 12px;
        padding-top: 22px;
    }

    .picture {
        margin-bottom: 0;
        background: url('./pic/watermark_small.png') no-repeat;
        background-position: 50% 0%;
        height: 212px;
        padding-left: 9px;
    }

    .picture__tesla {
        width: 357px;
        height: 166px;
        display: block;
    }

    .info__picture.time {
        width: 38px;
        height: 28px;
        padding-right: 0;
        padding-top: 0;
        background: url('./pic/small_time.png') no-repeat;
    }

    .info__picture.path {
        width: 26px;
        height: 41px;
        background: url('./pic/small_path.png') no-repeat;
    }

    .info__title span {
        font-size: 27px;
        line-height: 33px;
    }

    .info__title {
        font-size: 15px;
        line-height: 18px;
        padding-top: 7px;
    }

    .info__text {
        font-size: 10px;
        line-height: 12px;
    }

    .info.one {
        margin-right: 43px;
    }

    .info.two {
        left: 23px;
    }

    .info__text-wrap {
        position: relative;
        top: 0;
        right: 0;
    }

    .info__text-wrap_second {
        right: 33px;
        top: 10px;
    }

    .order-button {
        font-size: 13px;
        line-height: 16px;
        font-weight: 600;
        width: 160px;
        height: 40px;
    }

    .test-drive__text {
        font-size: 13px;
        line-height: 16px;
    }

    .test-drive__icon {
        width: 23px;
        height: 22px;
        background: url('./pic/small_wheel.png') no-repeat;
        margin-right: 7px;
    }

    .test-drive {
        margin-right: 47px;
        position: relative;
        bottom: 4px;
    }

    .row__about {
        margin-bottom: 41px;
    }

    .row {
        margin-bottom: 13px;
    }

}
